# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

*.class
.claude

app/bin/main/*
app/bin/main/copy/*
app/cobol_dependencies
cobol_dependencies
derby.log
build*.txt